:root {
	font-size: 62.5%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif !important;
	font-size: 1.6rem;
	background-color: #121315 !important;
	margin: 0;
	padding: 0;
}

h1 {
	font-weight: bold !important;
	color: white !important;
	font-size: 2.4rem !important;
}

p {
	color: white !important;
	font-size: 1.4rem !important;
	line-height: 26px;
}

.custom-button {
	padding: 0;
	font-weight: bold;
	font-size: 1.4rem !important;
	outline: none;
	border: none;
	border-radius: 1rem !important;
	color: #121315;
	height: 4.7rem;
	padding: 0 3rem 0 3rem;
}

.content-container {
	padding: 0 7.7% 0 7.7%;
}

/* BACKGROUND IMAGE */
.background-img {
	background-image: linear-gradient(
			to bottom,
			rgba(18, 19, 21, 0.8),
			rgba(18, 19, 21, 0.84),
			rgba(18, 19, 21, 0.87),
			rgba(18, 19, 21, 1),
			rgba(18, 19, 21, 1)
		),
		url('../../images/hero_image.webp') !important;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70vh;
	z-index: -1;
	opacity: 0.5;
}

/* NAVIGATION */
nav {
	max-width: 83.2rem !important;
	margin: 2rem auto !important;
}

.navbar {
	background-color: #0c0d0e;
	padding: 0 !important;
	border-radius: 1rem;
	margin: 2rem 2rem 0 2rem;
	height: 6.4rem;

	.navbar-brand img {
		height: 2.4rem;
		width: 3.2rem;
		margin-left: 3rem;
	}

	/* HAMBURGER MENU */
	.navbar-toggler {
		border: none !important;

		.hamburger-menu {
			margin-right: 2.2rem;
			height: 100%;
		}

		.menu-bar {
			display: block;
			border-bottom: solid white;
			border-width: 0.2rem;
			width: 2.5rem;
		}

		.menu-bar:not(:first-child) {
			margin-top: 0.7rem;
		}
	}

	/* LINKS */
	.nav-item:first-child {
		margin-left: 6rem;

		.nav-link {
			position: relative;
			opacity: 1;
		}

		.nav-link::before {
			content: '';
			position: absolute;
			width: 4.6rem;
			height: 0.1rem;
			background-color: white;
			top: 4.6rem;
		}
	}

	.nav-item:not(:nth-child(3)) {
		margin-right: 6rem;
	}

	.nav-item:last-child {
		margin-right: 14rem;
	}

	.nav-item {
		a {
			font-weight: bold;
			font-size: 1.4rem;
			opacity: 0.4;
		}
	}

	.navbar-text img {
		height: 2.4rem;
		width: 2.4rem;
	}

	.navbar-text a:first-child {
		margin-right: 4rem;
	}
}

/* HERO SECTION */
.hero-section {
	color: white;

	h1 {
		font-size: 3.6rem !important;
		margin-top: 14rem;
	}

	p {
		font-size: 1.8rem !important;
		margin: 2rem 0 6rem 0;
	}

	.text-container {
		padding: 0 30px 0 30px;
	}
}

/* ABOUT SECTION */
.about-section {
	margin-top: 18rem;

	.trophy-img {
		display: block;
		margin: auto;
		max-width: 22.8rem;
		max-height: 22.8rem;
		margin-bottom: 4rem;
	}

	p {
		margin-top: 2rem;
		margin-bottom: 4rem;
	}
}

/* MILESTONES SECTION */
.milestones-section {
	background: #15171c;
	margin-top: 6rem;

	h1 {
		padding-top: 6rem;
		text-align: center;
	}

	p {
		margin-top: 2rem;
		margin-bottom: 4rem;
		text-align: center;
	}

	.box {
		h2 {
			color: white;
			font-weight: bold;
			font-size: 2.8rem;
			text-align: center;
			margin: 0 !important;
		}

		p {
			margin-top: 0.5rem;
			font-size: 1.3rem !important;
			margin-bottom: 0 !important;
		}
	}

	.col {
		height: 11.6rem;
		max-width: 15rem;
		min-width: 15rem;
		display: flex !important;
		align-items: center !important;
		justify-content: center !important;
		background-color: #1f222c;
		border-radius: 1rem;
	}

	.col:nth-child(1),
	.col:nth-child(3) {
		margin-right: 1.5rem;
	}

	.col:nth-child(3),
	.col:nth-child(4) {
		margin-top: 1.5rem;
	}

	padding-bottom: 6rem;
}

/* GAMES SECTION */
.games-section {
	margin-top: 6rem;

	h1 {
		text-align: center;
	}

	.games-subheading {
		text-align: center;
		margin: 2rem 0 4rem 0;
	}

	.main-image {
		max-width: 48.9rem;
		width: 100%;
		border-radius: 1rem;
		margin-bottom: 2rem;
	}

	.icon-container {
		padding: auto;
		white-space: nowrap;
		display: flex !important;
		justify-content: flex-start;

		h2,
		span {
			color: white;
			white-space: nowrap;
		}

		h2 {
			font-weight: bold;
			font-size: 1.8rem;
		}

		span {
			font-weight: normal;
			font-size: 1.4rem;
			line-height: 28px;
		}

		img {
			max-height: 4.5rem;
			max-width: 4.5rem;
			border-radius: 0.5rem;
			margin: 0 2rem 0 0;
		}
	}

	.game-text {
		p {
			margin: 2rem 0 2rem 0;
			text-align: left;
		}

		button {
			margin-bottom: 4rem;
		}
	}

	/* Unannounced Project Icon */
	.saikou-reveal-icon {
		background: #1f222c;
		padding: 12px 10px 12px 10px;
	}
}

/* FOLLOW US SECTION */
.follow-section {
	background-color: #15171c;
	margin-top: 6rem;

	h1 {
		margin-bottom: 2rem;
	}

	button {
		margin-top: 2rem;
		border-radius: 1rem;
		border: 0;
		outline: none;
		height: 4.7rem;
		width: 96%;
	}

	.roblox-button {
		background: #353a4a;

		img {
			height: 3rem;
			width: 8rem;
		}
	}

	.discord-button {
		background: #7f89ff;
	}

	.twitter-button {
		background: #1eb9ff;
	}

	.megaphone-img {
		height: 23.1rem;
		width: 23.1rem;
		margin-top: 3.5rem;
	}
}

/* FOOTER SECTION */
footer {
	background-color: #0c0d0e;

	.footer-links {
		padding-top: 6rem;
		img {
			margin-bottom: 4rem;
			width: 5.6rem;
			height: 4.2rem;
		}

		h3 {
			margin-bottom: 2rem;

			a {
				color: #ffff;
				text-decoration: none;
				font-weight: bold;
				font-size: 1.4rem;
			}
		}
	}

	.last-link {
		margin-bottom: 0 !important;
	}

	hr {
		width: 100%;
		border: none;
		height: 2px;
		text-align: center;
		background-color: white;
		margin: 4rem auto 4rem auto;
	}

	.copyright-section p {
		font-size: 1.2rem !important;
		opacity: 0.4;
		margin: 0;
		line-height: 20px;
	}

	padding-bottom: 6rem;
}

/* RESPONSIVE DESIGN */
@media (min-width: 540px) {
	.milestones-section .col {
		max-width: 18rem;
		min-width: 18rem;
	}
}

@media (min-width: 768px) {
	nav {
		margin: 5rem auto !important;
	}

	h1 {
		font-size: 3rem !important;
	}

	p {
		font-size: 1.5rem !important;
	}

	.hero-section {
		h1 {
			font-size: 5rem !important;
		}

		p {
			font-size: 2rem !important;
		}
	}

	.milestones-section {
		margin-top: 10rem;

		h2 {
			font-size: 3.2rem !important;
		}

		.box p {
			font-size: 1.4rem !important;
		}

		h1 {
			padding-top: 10rem;
		}
		.col {
			max-width: 14.7rem;
			min-width: 14.7rem;
			margin-right: 1.5rem;
			margin-top: 1.5rem;
		}

		padding-bottom: 10rem;
	}

	.games-section {
		margin-top: 10rem; 

		.first-game {
			padding-top: 9rem;
		}
	
		.second-game {
			padding-bottom: 4.4rem;
		}
	}

	.follow-section {
		margin-top: 10rem;

		.megaphone-img {
			padding-bottom: 5rem;
			height: 27rem;
			width: 27rem;
		}

		button {
			width: 12.9rem;
			margin-right: 1rem;
		}

		.twitter-button {
			margin-right: 0;
		}
	}

	footer {
		.footer-links {
			padding-top: 8.5rem;

			img {
				width: 3.2rem;
				height: 2.4rem;
			}

			.link-column:first-child {
				margin-right: 4rem;
			}

			.link-column:not(:first-child) {
				justify-content: flex-start !important;
				padding: 0 !important;
				margin-right: 2rem;
			}

			.link-column:last-child {
				margin-right: 0;
				text-align: left;
			}
		}

		.copyright-section {
			text-align: left;
		}

		hr {
			width: 100%;
			text-align: center;
			margin: 0;
			margin-bottom: 3rem;
		}

		padding-bottom: 8.5rem;
	}
}

@media (min-width: 858px) {
	.first-game {
		padding-top: 7.2rem;
	}

	.second-game {
		padding-bottom: 6.5rem;
	}
}

@media (min-width: 992px) {
	.background-img {
		height: 80vh;
		top: -12rem;
	}
	.content-container {
		padding: 0 10% 0 10%;
	}

	h1 {
		font-size: 3.2rem !important;
	}

	p {
		font-size: 1.6rem !important;
	}

	.navbar {
		.nav-item:last-child {
			margin-right: 27rem;
		}
	}

	.hero-section {
		h1 {
			font-size: 5.4rem !important;
		}

		p {
			font-size: 2.4rem !important;
		}
	}

	.about-section {
		.trophy-img {
			max-width: 31.2rem;
			max-height: 31.2rem;
			margin-bottom: 0 !important;
			margin-right: 0 !important;
		}
	}

	.milestones-section {
		h2 {
			font-size: 3.6rem !important;
		}

		.col {
			max-width: 17.8rem;
			min-width: 17.8rem;
			margin-right: 2rem !important;
			margin-top: 2rem !important;
		}
	}

	.megaphone-img {
		height: 30rem !important;
		width: 30rem !important;
	}
}

@media (min-width: 1110px) {
	.content-container {
		padding: 0 14% 0 14%;
	}
}

@media (min-width: 1270px) {
	.content-container {
		padding: 0 14% 0 14%;
	}
}

@media (min-width: 1920px) {
	.content-container {
		padding: 0 304px 0 304px;
	}
}

// // @media(min-width: 715px) {
// // 	.content-container {
// // 		padding: 0 11rem 0 11rem;
// // 	}
// // }

// // @media(min-width: 758px) {
// // 	.content-container {
// // 		padding: 0 11rem 0 11rem;
// // 	}
// // }
